/* phone */
@media screen and (max-width: 736px) {
  .ui-panel{
     overflow-x: scroll;
     position: fixed;
  }
  .ui-panel-inner {
    padding-top: 0;
  }
  .ui-panel-inner h2 {
    margin-top: .2em;
  }
  #content-frame{
    overflow-x: scroll;
  }
  #content-frame p{
    padding: 1%
  }
  div.ui-content div.home-box {
    margin: 1em 4%;
  }
  #content{
    width: 100%;
  }
  .tablet-elem{
    display: none !important;
  }

  #nav-buttons tr td span.glyphicon {
    font-size: 1.7em;
  }

  /* mission list */
  .tab-links li a{
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }

  /* Question page */
  .center-page h2 {
    margin-top: 0;
    font-size: 1.6em;
  }
  ul#answers li div.answer-btn{
    width: 90%;
    margin: 0 auto;
  }
  img#opt-a, img#opt-b, img#opt-c, img#opt-d {
    width: 100%;
    height: 100%;
  }

}
