div.ui-content{
  width: 100%;
}

/* panel */
#panel-tablet{
  width: 30%;
  left: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  border-right: 2px solid #eee;
  padding: 1%;
}
#panel-tablet h2{
  margin: 0 0 .5em 0;
}
#panel-tablet ul li a{
  padding-left: 2em;
}
#mission-categories{
  margin-top: 0 !important;
  margin-right: -.7em;
}
#mission-categories li:focus, #mission-categories li:hover, #mission-categories li:active{
  background-color: #2f76d3 !important;
  color: white !important;
}
#nav-buttons{
  position: absolute;
  bottom: 1%;
  width: 100%;
  left: 0;
  right: 0;
  text-align: center;
}
#nav-buttons tr td{
  width: 50%;
}
#nav-buttons tr td span.glyphicon {
  display: block;
  margin-bottom: .2em;
  margin-top: .5em;
}

/* mission list */
.tab-content{
  background: transparent;
  box-shadow: none;
}
.tab{
  text-align: center;
  display: block;
}
div.tab ul {
  padding: 0;
}
div.tab ul li {
  display: inline-flex;
  margin: 1em;
}
div.tab ul li div span {
  text-align: center;
  display: block;
  max-width: 128px;
}

/* Question page */
.center-page{
  padding: 1% 5% 5% 5%;
}
table#answers {
  width: 100%;
}
table#answers tr td{
  text-align: center;
  width: 50%
}
table#answers tr td div{
  width: 94%;
  margin: 0 0 .5em 0;
  display: inline-block;
}
ul#answers, ul#answers-pic{
  list-style: none;
  padding: 0;
  margin: 0;
  left: 0;
  right: 0;
}
ul#answers li, ul#answers-pic li{
  display: inline-block;
  width: 49%;
  margin: .5em 0;
  text-align: center;
}
ul#answers li:nth-child(even), ul#answers-pic li:nth-child(even){
  float: right;
}
ul#answers li:nth-child(odd), ul#answers-pic li:nth-child(odd){
  float: left;
}
.question-img{
  display: block;
  margin: 0 auto;
  max-width: 70%;
  max-height: 300px;
}
