/* pannel tablet */
@media screen and (min-width: 737px) {
  .content{
    width: 74% !important;
  }
  /* pannel tablet */
  #content-frame{
    width: 66%;
    padding: 0 1%;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    overflow-x: scroll;
  }
  #nav-buttons tr td span.glyphicon {
    font-size: 3em;
  }

  /* Question page */
  ul#answers li div.answer-btn{
    width: 90%;
    margin: 0 auto;
  }
  img#opt-a, img#opt-b, img#opt-c, img#opt-d {
    width: 200px;
    height: 200px;
  }

  .phone-elem{
    display: none !important;
  }

  /* missions list */
  .tab-links{
    display: none;
  }
  /* each line should have max four elemrnts not really needed*/
  div.tab ul li:nth-of-type(2n+4):after {
    content:"\A";
    white-space:pre;
  }
}
